<%@ Control Language="c#" AutoEventWireup="True" Codebehind="SecureUserAdmin.ascx.cs" Inherits="UserAdmin.user_controls.SecureUserAdmin" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
