<%@ Page language="c#" Codebehind="error.aspx.cs" AutoEventWireup="false" Inherits="CreditWatch.error" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>error</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:table id="Table2" runat="server" CssClass="rammi">
				<asp:TableRow>
					<asp:TableCell>
						<asp:Label id="lbErrorMsg" runat="server" CssClass="rammi" Font-Bold="True" Font-Size="Larger"
							ForeColor="Red">Label</asp:Label>
					</asp:TableCell>
				</asp:TableRow>
				<asp:TableRow>
					<asp:TableCell>
						<A href="javascript:window.history.back()">Go back</A>
					</asp:TableCell>
				</asp:TableRow>
			</asp:table></form>
	</body>
</HTML>
