.TreeNode 
{ 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	color: black;	
	padding-left: 3px;
	text-decoration: none;
}

.Tree input
{
		width: 15px;
	border: 0px none;
}

.TreeNodeOver 
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	color: black;	
	padding-left: 3px;
	text-decoration: none;
}

.TreeNodeSelect 
{ 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	color: black;	
	padding-left: 3px;
	text-decoration: none;
}

.TreeNodeDisabled
{ 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	color: gray;	
	padding-left: 3px;
	text-decoration: none;
	cursor: default;
}

.TreeNodeEdit 
{
  border:1px gray solid;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  margin-left: 4px;  
}

.LoadingMessage
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	background:LemonChiffon; 
	border: solid 1px;
	padding: 2px;
}

.LoadingMessageBlue
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	color: Blue;
	padding: 2px;
}