.panelbarHeader 
{                   
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	color: #F7F7F7;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	padding-left: 5px;
	background-color: #5691D4;
	border: 1px solid #69A3E5;
   height: 21px;	
	text-decoration: none;
	vertical-align: middle;
}

.panelbarItem 
{
	font-size: 10px; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	border-top: 0px;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
   height: 19px;		
	   COLOR: #0C4B95;
	background-color: #E4EEF9;
	border-bottom: 1px solid #8FB7E6;
	padding-left: 10px;
	width: 100%;
	height: 19px;
   cursor: pointer;
	vertical-align: middle;
}