.TreeNode 
{ 
	font-family: Tahoma;
	font-size: 8pt; 
	color: black;	
	padding-left: 3px;
}

.TreeNodeOver 
{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: black; 	
	text-decoration: underline; 
	cursor: pointer;
	cursor: hand;
	padding-left: 3px;	
}

.TreeNodeSelect 
{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: white; 
	background: #316AC5; 	
    cursor: pointer;
	cursor: hand;
	margin-left: 3px;	
}

.TreeContextItem
{ 
	font-family: Arial, Verdana;
	font-size:12px;
	cursor: pointer;
	cursor: hand;
	padding-left:4px;
	height:24px;
	background-color:#F6F6F6;
	background-image:url(itemsBg.gif);
	background-repeat:repeat-y;
	width:100%;
	padding-top:1px;
}

.TreeContextItemOver
{
	font-family: Arial, Verdana;
	font-size:12px;
	cursor: pointer;
	cursor: hand;
	padding-left:4px;
	height:24px;
	background-color: #FFEEC2;
	border: 1px solid #000080;
	width:100%;
}

.TreeNodeEdit 
{
  border:1px gray solid;
  font-family: tahoma; 
  font-size: 8pt;
  margin-left: 3px;  
}