﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ContentControl.ascx.cs" Inherits="Cis.CB4.Projects.DE.CreditinfoSchufa.WebWrap.WebApp.ContentControl" %>
<asp:ScriptManager ID="sc" runat="server"></asp:ScriptManager>