body
{
	background-color: White;
	padding-top: 10px;
	margin: 0px;
}

body,td,div,input,select,textarea
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

select,textarea
{
	background-color: #F7F7F7;
	border-top: 1px solid Gray;
	border-left: 1px solid Gray;
	border-bottom: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	width: 150px;	
}

input
{
	background-color: #F7F7F7;
	border-top: 1px solid Gray;
	border-left: 1px solid Gray;
	border-bottom: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	height: 17px;
	width: 150px;
}

.radio input
{
	width: 15px;
	border: 0px none;
}

.short_input
{
	width: 50px;
}

.long_input
{
	width: 300px;
}

.auto_input
{
	width: auto;
}

.popup
{
	width: 20px; 
	background-image: url(../img/search_button.gif);
	background-color: #D4D0C8; /*	height: 21px;*/
	border-right: 1px solid Gray;
	border-bottom: 1px solid Gray;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	font-weight: bold;
	text-align: center; /*	padding-left: 5px;*/
	padding-bottom: 0px;
	margin-left: 5px;
	vertical-align: bottom;
}

.popup input
{
	width: 20px; /*	background-image: url(../img/button_gray.jpg);*/
	background-color: #D4D0C8; /*	height: 21px;*/
	border-right: 1px solid Gray;
	border-bottom: 1px solid Gray;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	font-weight: bold;
	text-align: center; /*	padding-left: 5px;*/
	padding-bottom: 0px;
	margin-left: 5px;	
	vertical-align: bottom;
}


.head_foot
{
	font-size: 10px;
	color: #000000;
	vertical-align: middle;
}

.head_foot a
{
	text-decoration: none;
	color: #000000;
}

.breadcrumbs
{
	font-size: 11px;	
	font-weight: bold;
}

.breadcrumbs a
{
	color: #000000;
}

.tree
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.tree table
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.tree td
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.grid_table
{	
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.grid_table th
{
	background-image: url(../img/cell_bg.jpg);
	color: #F7F7F7;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	height: 21px;
	border: 1px solid #3070BB;
}

.grid_table_head
{
	color: #ffffff;	
	font-size: 11px;
	width: 100%;
	font-weight: bold;
}
/*
	CIG GRID
*/
.grid
{
	width: 100%;
	border-width: 0px;
}

.grid input
{
	width: 15px;
	border: 0px none;
}

.grid th
{
	color: #000000;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
}

.grid a
{
	color: #000000;
	font-weight: bold;
}

.grid_header
{
	background-color: #F7F7F7;
	border: 0px none;
	font-weight: bold;
}

.grid_header td
{
	padding-left: 10px;
}

.grid_header a
{
	color: #000000;
}

.grid_item
{
	background-color: #E4EEF9;
	border: 0px none;
}

.grid_alternatingitem
{
	background-color: #F7F7F7;
	border: 0px none;	
}

.grid_footer
{
	font-weight: bold;
	color: #000000;
}

.grid_footer td
{
	padding-left: 10px;
}

.grid_selecteditem
{
	font-weight: bold;
	background-color: #D3D8E0;
	color: #ffffff;
}

.grid_selecteditem td
{
}

.grid_pager
{
	color: #000000;
	background-color: #ffffff;
	text-align: center;	
	height: 20px;
}

/*
	WHITE GRID
*/
.white_grid
{
	width: 100%;
	border-width: 0px;
}

.white_grid a
{
	color: #000000;
	font-weight: bold;
}

.white_grid_header
{
	background-color: #FFFFFF;
	border: 0px none;
	font-weight: bold;
}

.white_grid_header td
{
	padding-left: 10px;
}

.white_grid_header a
{
	color: #000000;
}

.white_grid_item
{
	background-color: #FFFFFF;
	border: 0px none;
}

.white_grid_alternatingitem
{
	background-color: #FFFFFF;
	border: 0px none;	
}

.white_grid_footer
{
	background-color: #FFFFFF;
	color: #330099;
}

.white_grid_selecteditem
{
	font-weight: bold;
	background-color: #FFFFFF;
	color: #ffffff;
}

.white_grid_selecteditem td
{
	padding-left: 10px;
}

.white_grid_pager
{
	color: #330099;
	background-color: #FFFFFF;
	text-align: center;
}

/*
	PADDING IN GRIDS
*/
.nopadding
{
	padding-left: 0px;
	padding-right: 0px;
	width: 21px;
}

.leftpadding
{
	padding-left: 10px;
	padding-right: 0px;
	width: 21px;
}

.padding
{
	padding-left: 10px;
	padding-right: 10px;	
}


.menu
{
	width: 100%;
	border-width: 0px;
}

.menu th
{
		background-color: #306FBB;
			color: #F7F7F7;
	text-align: left;
	padding-left: 10px;
	font-size: 11px;
	height: 21px;
	border: 1px solid #3070BB;
}

.fields
{
	border: 1px solid #A3A3A3;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.datagrid
{
	border: 1px solid #A3A3A3;
	width: 100%;	
	padding: 0px;
}

.panelbar
{
	border-left: 1px solid #69A3E5;
	border-right: 1px solid #69A3E5;
	width: 100%;
}

.menu_level1 table
{                   
   COLOR: #F7F7F7;
   width: 100%;
   height: 21px;
	padding-left: 5px;
   cursor: pointer;
   background-color: #5691D4;
   border-bottom: 1px solid #69A3E5;
	text-decoration: none;
	vertical-align: middle;
}

.menu_level1 td
{
	font-weight: bold;
	font-size: 10px;	
}

.menu_level2 table
{
   COLOR: #0C4B95;
   text-decoration: none;
	background-color: #E4EEF9;
	border-bottom: 1px solid #8FB7E6;
	padding-left: 10px;
	width: 100%;
	height: 19px;
   cursor: pointer;
	vertical-align: middle;
}

.menu_level2 td
{
	font-size: 10px;	
}

.menu_level3 table
{
	font-size: 10px;
	text-decoration: none;
	background-color: #ffffff;
	border-bottom: 1px solid #8FB7E6;
	width: 100%;
	color: #0C4B95;
	height: 19px;	
	padding-left: 20px;
	vertical-align: middle;
}

.menu_level4
{
	font-size: 10px;
	text-decoration: none;
	background-color: #ffffff;
	border-bottom: 1px solid #8FB7E6;
	width: 100%;
	color: #0C4B95;
	height: 19px;	
	padding-left: 30px;
	vertical-align: middle;
}

.menu_level5
{
	font-size: 10px;
	text-decoration: none;
	background-color: #ffffff;
	border-bottom: 1px solid #8FB7E6;
	width: 100%;
	color: #0C4B95;
	height: 19px;	
	padding-left: 40px;
	vertical-align: middle;
}

/* Start of Buttons */

.confirm_button
{
	background-image: url(../img/button_green.jpg);
	background-color: #559F4B;
	height: 21px;
	width: auto;	
	border: 1px solid #559F4B;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;	
	margin-left: 10px;
}

.cancel_button
{
	background-image: url(../img/button_red.jpg);
	background-color: #A64460;
	height: 21px;
	width: auto;	
	border: 1px solid #A64460;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;	
	margin-left: 10px;
}

.gray_button
{
	background-image: url(../img/button_gray.jpg);
	background-color: #9F9F9F;
	height: 21px;
	width: auto;	
	border: 1px solid #9F9F9F;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;	
	margin-left: 10px;
}

.search_button
{
	background-image: url(../img/search_button.gif);
	height: 21px;
	width: 86px;
	border: 0px none;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 0px;
	vertical-align: bottom;
	margin-left: 10px;	
}

/* End of Buttons */

.empty_table
{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.error_text
{
	color: #ff0000;
	font-weight: bold;
}

.confirm_text
{
	color: #0000ff;
	font-weight: bold;
}

.empty_table td
{
	vertical-align: top;
}

/* Begin of DatePicker */

.datepicker
{
    color: #000000;
}

.datepicker a
{
   color: #000000;
	text-decoration: none;
}

.datepicker_title
{
	background-image: url(../img/cell_bg.jpg);
	color: #F7F7F7;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	height: 21px;
	border: 1px solid #3070BB;
	font-weight: bold;
}

.datepicker_othermonthday a
{
	color: #a0a0a0;
	text-decoration: none;	
}

.datepicker_today a
{
	font-weight: bold;
	text-decoration: none;	
}

/* End of DatePicker */

/* Begin of FSI stuff */

.HeadLists
{
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	/*color:Black;*/
	font-family: Arial;
	
	background-image: url(../img/cell_bg.jpg);
	color: #F7F7F7;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	height: 21px;
	border: 1px solid #3070BB;
	vertical-align: middle;
}

.FSICheck 
{
	PADDING-LEFT: 4mm; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9pt; 
	WIDTH: 4cm; 
	COLOR: #891618; 		
	FONT-FAMILY: verdana; 	
	TEXT-ALIGN: left; 
	BACKGROUND-COLOR: White;
	border-style: none;
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;		
}

.FSILastYear 
{
	PADDING-LEFT: 4mm; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9pt; 
	WIDTH: 4cm; 
	FONT-FAMILY: verdana; 
	TEXT-ALIGN: right; 
	BACKGROUND-COLOR: White;
	border-style: none;
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;	
}


.tbFinancialStrengthIndicator
{
    border:1px  Black Solid  
}

#tbFinancialStrengthIndicator
{
    border:1px  Black Solid ;
    background:Red 
}
/* End of FSI stuff */

.tbScoringGrid
{
  
   vertical-align:top;
   text-align:left;
   padding:0;
   border-collapse:collapse;
   border-spacing:10px;
}
.tbScoringGrid .trScoringItem
{
    padding:0;
}
        
.tdScoringHeader
{
    font-weight:bold;
}

.menu th a,
.menu th a:visited,
.menu th a:active
{
   color:white;
   text-decoration:none; 
}


table.dataTable th {
    font-size: 9px;
    color:black;
    border: none;
}

.dt-buttons .dt-button-collection {
    margin-bottom: 20px;
}

    .dt-buttons .dt-button-collection  .active {
        color: blue;
    }