body,td,div,input,select,textarea 
{
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 11px;
}

.whiteHeader
{
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 13px;
	font-family: Verdana;
	top: 2px;
	text-decoration: none;
}

input,select,textarea 
{
	background-color: #F7F7F7;
	border-top: solid 1px #8A8A8A;
	border-left: solid 1px #8A8A8A;
	border-bottom: solid 1px #E5E5E5;
	border-right: solid 1px #E5E5E5;
}

.linksMenu
{
	border-right: white thin groove;
	padding-right: 10pt;
	padding-left: 5pt;
}

.links 
{
    font: arial,helvetica, sans-seriv;
	font-size: 8pt;
	font-variant: normal;
	text-decoration: none;
	color: #FFFFFF;
	white-space: nowrap;
	font-weight: normal;
	cursor: hand;
}

.linksactive
{
	font: arial,helvetica, sans-seriv;
	font-size: 8pt;
	font-variant: normal;
	color: #FFFFFF;
	white-space: nowrap;
	font-weight: normal;
	text-decoration: underline;
	cursor: hand;
}

.linksselected
{
	font: arial,helvetica, sans-seriv;
	font-size: 8pt;
	font-variant:normal;
	text-decoration: none;
	color: #FFFFFF;
	white-space: nowrap;
	font-weight:bold;
	cursor: hand;
}

.links:active 
{
	color: red;
}

A.MainMenu
{
	font-weight: bold;
	font-size: 11px;
	color: Blue;
	line-height: 13px;
	font-family: Verdana;
	top: 2px;
	text-decoration: none;
	white-space: nowrap;
	cursor: hand;
}

A.MainMenu:hover 
{
	text-decoration: underline;
	cursor:hand;
}

A.sitePosition2:link
{
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 13px;
	font-family: Verdana;
	top: 2px;
	text-decoration: none;
}

A.sitePosition2:visited
{
	font-weight: bold;
	font-family: Verdana;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 13px;
	color: #ffffff;
	text-decoration: none;
	top: 2px;	
}

A.sitePosition2:active
{
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 13px;
	font-family: Verdana;
	top: 2px;
	text-decoration: none;
}

.AroundButton 
{
	background-color: #F7F7F7;
	border-top: solid 1px #8A8A8A;
	border-left: solid 1px #8A8A8A;
	border-bottom: solid 1px #E5E5E5;
	border-right: solid 1px #E5E5E5;
	width: 190px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.AroundButtonSmallMargin 
{
	background-color: #F7F7F7;
	border-top: solid 1px #8A8A8A;
	border-left: solid 1px #8A8A8A;
	border-bottom: solid 1px #E5E5E5;
	border-right: solid 1px #E5E5E5;
	width: 190px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.RegisterButton 
{
	width: 100%;
	background-color: #CED0C5;
	cursor: hand;
	font-weight: bold;
	border-top: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-bottom: solid 1px #8A8A8A;
	border-right: solid 1px #8A8A8A;
}

.left-menu 
{
    font: arial,helvetica, sans-seriv;
	font-size: 8pt;
	font-variant: normal;
	text-decoration: none;
	color: #FFFFFF;
	white-space: nowrap;
	font-weight: normal;
}


a	{
	text-decoration: none;
}
.black 	{
	color: #000000;
}
a:hover {
	text-decoration: underline;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: plain;
	color: #9DA08A;
        background-color:white;
}
.list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: plain;
}

.small_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
}


.scr-list{
	font-family: monospace;
	font-size: 8pt;
	}

.list-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #000000;
	cursor: hand;
}

.listhead {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #444444;
	border-bottom-width: 0pt;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 12px;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000066;
	padding-top: 10px;
	page-break-after: auto;






}
.td-border-left {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-left-style: solid;
	border-bottom-color: #F0F0F0;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;



}
.td-border-left-right {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #F0F0F0;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	padding-right: 4px;
	padding-left: 4px;

}
.tablebottom {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;

}
.pageheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: black;
        background-color:#9DA08A;
        padding:4pt;
        text-transform:uppercase;
}
.subject {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.pagebrake-if-needed {
	page-break-after: auto;
}
a:active {
	color: #FF0000;
}
.dark-row {
	background-color:#F3F4F1; 
        border-bottom-color:#CED0C5;
        border-bottom-width:1pt;
        border-top-width:0pt;
        border-left-width:0pt;
        border-right-width:0pt;
        border-style:solid;
}

.light-dark-row 
{
	background-color:#F3F4F1; 
    border-bottom-color:#CED0C5;
    border-bottom-width:1pt;
    border-top-width:0pt;
    border-left-width:0pt;
    border-right-width:0pt;
    border-style:solid;
}

.old-rammi {border-color: #F2E9E9;}

.rammi {
	border-style: solid;
	border-width: 1;
	border-color: #D6CECE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #000000;
	}

.button
       { 
        border-style:solid;
        border-width:0pt;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: white;
        background-color: #9DA08A;
        padding:2pt;
       }
.button-disabled
       {
        border-style:solid;
        border-width:0pt;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #9DA08A;
        background-color: white;
        padding:1pt;
       }

.inp-text
       {
        border-style: solid;
        border-width: 1pt;
        border-color: #9DA08A;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: black;
        background-color: white;
       }
.aukalina {
         font-family: verdana, arial,helvetica, sans-seriv;
         font-size: 8pt;
         color:#808080;
         padding-top:10pt;
         padding-bottom:4pt;
          }
.aukalina:A {text-decoration:underline}

.sectionheaderblue {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: bold;
        color: black;
        background-color:#BFCFFF;
        padding:4pt;
        white-space: nowrap;        
        valign:top;
}

.sectionheader {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: bold;
        color: black;
        background-color:#DFD5B5;
        padding:4pt;
        white-space: nowrap;        
        valign:top;
}

.seemore {
        font-face: arial,helvetica, sans-seriv;
        font-size: 8pt;
        font-variant: normal;
        text-decoration: none;
        color: #FFFFFF;
        white-space: nowrap;
        font-weight: normal;
        background-color:#951E16;
}
 
.disclaimer {
       color:#808080;
       text-align:justify;
       font-size:7pt;
       padding-left:30px;
       padding-right:30px;
}

.error_text
{
	color: #ff0000;
	font-weight: bold;
}

.confirm_text
{
	color: #0000ff;
	font-weight: bold;
}


#tbFinancialStrengthIndicator
{
    border:0px  Black Solid;
    height:150px;
}

#tbFinancialStrengthIndicator .tbFinancialStrengthIndicatorTitle
{
    border-bottom:1px Black Solid;
    border-right:1px Black Solid;
    border-left:1px Black Solid;
    border-top:1px Black Solid;
  
    background-color:#c00000;
    font-weight:bold;
    color: #FFFFFF;
    height:25px;
}


#tbFinancialStrengthIndicator .tbFinancialStrengthIndicatorValue
{
    border-bottom:1px Black Solid;
    border-right:1px Black Solid;
    border-left:1px Black Solid;

    background-color:#f2f2f2;
    font-weight:bold;
    color: Black;
      height:40px;
}

#tbFinancialStrengthIndicator .trFinancialStrengthDescription
{
     font-style:italic;
   font-size:9px;  
   vertical-align:top;
}


#tbFinancialStrengthIndicator .bFinancialStrengthRiskDescription
{
    border-right:0px Black Solid;
     border-top:1px Black Solid;
    font-weight:bold;
}


#tbRisk
{
    border:0px  Black Solid;
    height:150px;
}


#tbRisk .tbRiskTitle
{
   /* background-color:#00b050;*/
    font-weight: bolder;
   /* color: #FFFFFF;*/
    border-top:1px Solid Black;
    border-left:1px Solid Black;
    border-right:1px Solid Black;
    border-bottom:1px Solid Black;
    height:25px;
    
}


#tbRisk .tbRiskValue
{
    font-weight: bolder;
    border-left:1px Solid Black;
    border-right:1px Solid Black;
    border-bottom:1px Solid Black;
    width:100px;
    height:40px;
    
}

#tbRisk .trRiskDesclaimer
{
   font-style:italic;
   font-size:9px;  
  vertical-align:top;
}

#tbCreditLimit
{
   border-top:1px Solid Black ;
    height:150px;
}

#tbCreditLimit .tdCreditLimitTitle
{
    background-color:#00b050;
    font-weight: bolder;
    color: #FFFFFF;
    border-left:1px Solid Black;
    border-right:1px Solid Black;
    border-bottom:1px Solid Black;
     height:25px;
    
}
#tbCreditLimit .tdCreditLimitValue
{
    font-weight: bolder;
    background-color:#f2f2f2;
      border-left:1px Solid Black;
    border-right:1px Solid Black;
    border-bottom:1px Solid Black;
      height:40px;
}
#tbCreditLimit .trCreditLimitDesclaimer
{
   font-style:italic;
   font-size:9px;  
   vertical-align:top;
}
