﻿.loginPageText {
    line-height: 130%;
}

    .loginPageText a {
        color: Blue;
    }

.loginProblemContent {
    float: left;
    width: 500px;
    margin-right: 120px;
}

    .loginProblemContent p {
        margin: 10px 0px 0px 20px;
    }

.failedLoginMessage {
    color: Red;
}

#loginBox {
    background-color: #3b3939;
    color: #fff;
    height: 404px;
    margin-top: 100px;
    margin-left: 340px;
    width: 340px;
}

#passwordExpired {
    background-color: #3b3939;
    margin-top: 120px;
    padding: 20px;
}

.loginHeader img {
    /*background: url(images/Icons/LoginImg.png) no-repeat;
    color: black;
    font-family: Arial, Sans-Serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 13px 55px;
    margin-bottom: 15px;*/
    position: relative;
    top: 20px;
    left: 30px;
}

#loginBox table {
    position: relative;
    top: 30px;
    left: 25px;
}

    #loginBox table tbody td input {
        color: darkgray;
    }


#errorbox, #highlightbox {
    width: 320px;
    font-weight: bold;
    padding: 10px;
    margin-top: 40px;
}

.loginBoxPosition {
    position: absolute;
}

.loginText {
    color: #560000;
}

#loginbtn {
    margin: 20px 0px 17px 200px;
}



    #signUpBtn .btnRed input, #loginbtn .btnRed input {
        font-weight: bold;
        width: auto;
        overflow: visible;
    }


.header .loginarea {
    position: absolute;
    max-width: 670px;
    right: 8px;
    top: 24px;
}

    .header .loginarea .user {
        position: absolute;
        right: 120px;
        color: #fff;
        width: 600px;
        text-align: right;
        font-size: 13px;
    }

        .header .loginarea .user span {
            color: #b0b1b1;
            cursor: pointer;
        }

    .header .loginarea .login {
        position: absolute;
        top: 0;
        right: 0;
        width: 104px;
    }

        .header .loginarea .login input {
            width: 52px;
            padding-left: 30px;
        }

#loginBox .smallbtn input[type="submit"] {
    background-color: #ce3133;
    color: #fff;
    box-shadow: inset 0 -15px 15px -5px rgba(0,0,0,.1),0 2px 0 -1px rgba(0,0,0,.05);
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    border: 1px solid #ce3133;
    background-image: url(../images/btn_logout.png);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    padding-left: 35px;
    border-radius: 20px;
    line-height: 19px;
    height: 21px;
    font-size: 0.8em;
    padding-bottom: 20px;
}

#rightBox {
    width: 267px;
    position: relative;
    left: 682px;
    top: -595px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #efefef;
    border: 1px solid #e3e3e3;
    line-height: 20px;
    font-size: 14px;
    height: 190px;
}

    #rightBox h3 {
        color: #c70f11;
        font-size: 15px;
    }

    #rightBox span img {
        float: right;
        position: relative;
        right: 10px;
    }

    #rightBox div {
        float: right;
    }

        #rightBox div input[type="submit"] {
            background-color: #699b16;
            color: #fff;
            -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
            -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
            -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
            text-shadow: 0 1px 1px rgba(0,0,0,.5);
            box-shadow: inset 0 -12px 24px rgba(0,0,0,.2),0 2px 0 -1px rgba(0,0,0,.05);
            border-top: 1px solid #4b830a;
            border-right: 1px solid #4b830a;
            border-bottom: 1px solid #4b830a;
            border-left: 1px solid #4b830a;
            border-radius: 20px;
            line-height: 19px;
            height: 25px;
            min-width: 80px;
        }

#LeftBox {
    width: 267px;
    background-color: #efefef;
    border: 1px solid #e3e3e3;
    position: relative;
    left: 23px;
    top: -350px;
    font-size: 14px;
    padding-left: 15px;
    line-height: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    height: 190px;
}

    #LeftBox h3 {
        color: #c70f11;
        font-size: 15px;
    }


#signUpBtn .btnRed input, #loginbtn .btnRed input {
    font-weight: bold;
    width: auto;
    overflow: visible;
}

#signUpBtn {
    margin-top: 5px;
}

.smallbtn {
    float: right;
    text-transform: uppercase;
    color: White;
    font-family: Century Gothic, Lucida Sans, Sans-Serif;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

#insideText {
    width: 288px;
    position: relative;
    left: 20px;
    top: 50px;
}

    #insideText h3 {
        margin-bottom: 25px;
        font-family: Arial Rounded MT Bold, Arial, Verdana, Sans-Serif;
    }

#loginPanelBox {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    text-align: left;
    width: 1000px;
    font-family: Arial Rounded MT Bold, Arial, Verdana, Sans-Serif;
}

.errormessage {
    position: relative;
        top: 83px;
        font-size: 0.9em;
}
