<%@ Control Language="c#" AutoEventWireup="false" Codebehind="SecureCreditWatch.ascx.cs" Inherits="CreditWatch.user_controls.SecureCreditWatch" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<P>&nbsp;</P>
