dy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
body	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.left-menu {
    font-face: arial,helvetica, sans-seriv;
	font-size: 8pt;
	font-variant: normal;
	text-decoration: none;
	color: #FFFFFF;
	white-space: nowrap;
	font-weight: normal;



}
a	{
	text-decoration: none;
}
.black 	{
	color: #000000;
}
a:hover {
	text-decoration: underline;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: plain;
	color: #9DA08A;
        background-color:white;
}
.list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}


.scr-list{
	font-family: monospace;
	font-size: 8pt;
	}

.list-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #000000;
	cursor: hand;
}

.listhead {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #444444;
	border-bottom-width: 0pt;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 12px;



}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000066;
	padding-top: 10px;
	page-break-after: auto;






}
.td-border-left {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-left-style: solid;
	border-bottom-color: #F0F0F0;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;



}
.td-border-left-right {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #F0F0F0;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	padding-right: 4px;
	padding-left: 4px;

}
.tablebottom {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;

}
.pageheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: black;
        background-color:#9DA08A;
        padding:4pt;
        text-transform:uppercase;
}
.subject {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.pagebrake-if-needed {
	page-break-after: auto;
}
a:active {
	color: #FF0000;
}
.dark-row {
	background-color:#F3F4F1; 
        border-bottom-color:#CED0C5;
        border-bottom-width:1pt;;
        border-top-width:0pt;
        border-left-width:0pt;
        border-right-width:0pt;
        border-style:solid;
}

.old-rammi {border-color: #F2E9E9;}

.rammi {
	border-style: solid;
	border-width: 1;
	border-color: #D6CECE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #000000;
	}
	
.rammi_right 
{
	border-style: solid;
	border-width: 1;
	border-color: #D6CECE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: right;
    color: #000000;
}
.label 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #000000;
}	

.button
       { 
        border-style:solid;
        border-width:0pt;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: white;
        background-color: #9DA08A;
        padding:2pt;
       }
.inp-text
       {
        border-style: solid;
        border-width: 1pt;
        border-color: #9DA08A;;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: black;
        background-color: white;
       }
.aukalina {
         font-family: verdana, arial,helvetica, sans-seriv;
         font-size: 8pt;
         color:#808080;
         padding-top:4pt;
         padding-bottom:4pt;
          }
.aukalina:A {text-decoration:underline}

.sectionheader {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: bold;
        color: black;
        background-color:#DFD5B5;
        padding:4pt;
        white-space: nowrap;        
        valign:top;
}

.seemore {
        font-face: arial,helvetica, sans-seriv;
        font-size: 8pt;
        font-variant: normal;
        text-decoration: none;
        color: #FFFFFF;
        white-space: nowrap;
        font-weight: normal;
        background-color:#951E16;
}
 
.disclaimer {
       color:#808080;
       text-align:justify;
       font-size:7pt;
       padding-left:30px;
       padding-right:30px;
}
