dy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
body	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.left-menu {
	font-size: 8pt;
	font-variant: normal;
	text-decoration: none;
	color: #FFFFFF;
	white-space: nowrap;
	font-weight: normal;



}
a	{
	text-decoration: none;
}
.black 	{
	color: #000000;
}
a:hover {
	text-decoration: underline;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	color: #FFFFFF;
}
.list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}

.scr-list{
	font-family: monospace;
	font-size: 8pt;
	}

.list-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #000000;
	cursor: hand;
}

.listhead {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666666;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 12px;



}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000066;
	padding-top: 4px;
	padding-left: 7px;
	padding-bottom: 4px;
}

.input {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        font-weight: normal;
        text-transform: none;
        color: #000000;
        border-style:solid;
        border-width:1px;
        border-color:black;
}
.td-border-left {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-left-style: solid;
	border-bottom-color: #F0F0F0;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	padding-left: 4px;
	padding-right: 4px;



}
.td-border-left-right {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #F0F0F0;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	padding-right: 4px;
	padding-left: 4px;

}
.tablebottom {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;

}
.pageheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #000066;
	padding-top: 15px;


}
.subject {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a:active {
	color: #FF0000;
}
.dark-row {
	background-color: #F2E9E9;
}

.old-rammi {border-color: #F2E9E9;}

.rammi {
	border-style: solid;
	border-width: 1;
	border-color: #D6CECE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #000000;
	}
A.menu:link {
	font-family: arial,helvetica;
	font-size: 15px;
	color: black;
	text-decoration: none;
}
A.menu:visited {
	font-family: arial,helvetica;
	font-size: 15px;
	color: black;
	text-decoration: none;
}
A.menu:hover {
	font-family: arial,helvetica;
	font-size: 15px;
	color: black;
	text-decoration: underline;
}
.texti{
    font-family : Arial, Helvetica, sans-serif;
}
.texti_bold{
    font-family : Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.defin{
    font-family : Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style : italic;
    font-size : 14px;
}
.defin_undir{
    font-family : Arial, Helvetica, sans-serif;
    font-size : 12px;
}

.textboxbutton {
	font-family: arial,helvetica;
	font-size: 12px;
	border: thin solid #666666;
	background-color: #990000;
	color: #FFFFFF;
	padding: 3px;
}

.body {
        font-family: arial,helvetica;
}

.header{font-family : verdana, Arial, Helvetica, sans-serif ; color:white;;  text-decoration :  none;  font-size :  10px;}
.headerb{font-family : verdana, Arial, Helvetica, sans-serif ; color:black;;  text-decoration :  none;  font-size :  10px;}
.headerwhite{font-family : verdana, Arial, Helvetica, sans-serif ; color:white;;  text-decoration :  none;  font-size :  17px; font-weight : bolder;}
.headerblack{font-family : verdana, Arial, Helvetica, sans-serif ; color:black;;  text-decoration :  none;  font-size :  17px; font-weight : bolder;}
.conbig{font-family : verdana, Arial, Helvetica, sans-serif ; color:#891618;;  text-decoration :  none;  font-size :  15px; font-weight : bolder;}
.conbig2{font-family : verdana, Arial, Helvetica, sans-serif ; color:black;;  text-decoration :  none;  font-size :  14px; font-weight : bolder;}
.con{font-family : verdana, Arial, Helvetica, sans-serif ; color:black;;  text-decoration :  none;  font-size :  10px;}
.button {
padding:1px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:8pt;
color:white;
background-color: #990000;
border-color:#990000;
border-style:solid;
border-width:3pt;
background-color:#990000;
text-decoration:none;
}

.button:hover {
text-decoration:underline;
}

.blokk {
	text-indent: -20px;
	font-size: smaller;
	margin-right: 40px;
	margin-left: 40px;
}

.fors-smafr-fyrirs {
	font-size: 8pt;
	font-weight: bold;

}
.fors-flokkar {
	border-top-width: 1px;
	border-right-width: thin;
	border-bottom-width: 1px;
	border-left-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #333333;

}
.fors-smafr-dags {
	font-style: italic;
	font-size: 7pt;

}
.err {
      color: #AA0000
     }

