.TopMenuGroup
{
	border-right: gray 1px outset;
	border-top: gray 1px outset;
	border-left: gray 1px outset;
	border-bottom: gray 1px outset;
}

.MenuGroup
{
  background-color:white;
  border:1px;
  border-style:solid;
  border-color:Gray;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='dimgray', Direction=135, Strength=3);
}

.MenuItem 
{
  color:black; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  padding:3px;
  padding-left:15px;
  padding-right:10px;
  cursor:default;
}

.MenuItemOver 
{
  color:black; 
  background-color:silver; 
  color:black; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  padding:3px;
  padding-left:15px;
  padding-right:10px;
  cursor:default;
}

.DisabledMenuItem
{
  color:Gray; 
  background-color:white; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  padding:3px;
  padding-left:15px;
  padding-right:10px;
  cursor:default;
}

.DisabledMenuItemOver 
{
  color:Gray; 
  background-color:silver; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  padding:3px;
  padding-left:15px;
  padding-right:10px;
  cursor:default;
}

.MenuBreak
{
  padding:0px; 
}