<%@ Register TagPrefix="ucl" TagName="UserInfo" Src="../new_user_controls/UserInfo.ascx" %>
<%@ Register TagPrefix="ucl" TagName="options" Src="../new_user_controls/options.ascx" %>
<%@ Page language="c#" Codebehind="SelectStatement.aspx.cs" AutoEventWireup="false" Inherits="FSI.SelectStatement" %>
<%@ Register TagPrefix="uc1" TagName="head" Src="../new_user_controls/head.ascx" %>
<%@ Register TagPrefix="uc1" TagName="language" Src="../new_user_controls/language.ascx" %>
<%@ Register TagPrefix="uc1" TagName="footer" Src="../new_user_controls/footer.ascx" %>
<%@ Register TagPrefix="uc1" TagName="sitePositionBar" Src="../new_user_controls/sitePositionBar.ascx" %>
<%@ Register TagPrefix="uc1" TagName="panelBar" Src="../new_user_controls/panelBar.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
  <head>
		<title>SelectStatement</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="../css/CIGStyles.css" type="text/css" rel="stylesheet">
		<script>
					function checkEnterKey() 
					{    
							if (event.keyCode == 13) 
							{        
								event.cancelBubble = true;
								event.returnValue = false;
								SelectStatementForm.btnRegisterChange.click(); 
							}
					} 
					function SetFormFocus()
						{
							document.SelectStatementForm.tbCompanyRegNo.focus();
						}
		</script>
</head>
	<body ms_positioning="GridLayout" onload="SetFormFocus()">
		<form id="SelectStatementForm" method="post" runat="server">
			<table width="997" height="600" align="center" border="0">
				<tr>
					<td colspan="4">
						<uc1:head id="Head1" runat="server"></uc1:head>
					</td>
				</tr>
				<tr valign="top">
					<td width="1"></td>
					<td>
						<table width="100%" height="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<uc1:language id="Language1" runat="server"></uc1:language>
								</td>
								<td></td>
								<td align="right">
									<ucl:options id="Options1" runat="server"></ucl:options>
								</td>
							</tr>
							<tr>
								<td colspan="3" align="center" height="1" bgcolor="#000000"></td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<uc1:sitepositionbar id="SitePositionBar1" runat="server"></uc1:sitepositionbar>
								</td>
								<td align="right">
									<ucl:userinfo id="UserInfo1" runat="server"></ucl:userinfo>
								</td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr valign="top">
								<td width="150" valign="top" align="left">
									<table width="98%">
										<tr>
											<td>
												<uc1:panelbar id="PanelBar1" runat="server"></uc1:panelbar>
											</td>
										</tr>
									</table>
								</td>
								<td colspan="2">
									<!-- Main Body Starts -->

									<table width="100%">
										<tr>
											<td>
												<!-- BEGIN // GRID TABLE WITHOUT STEPS // BEGIN -->
												<table class="grid_table" cellspacing="0" cellpadding="0">
													<tr>
														<th>
															<asp:label id="lblPageTitle" runat="server">Financial statement</asp:label>-
															<asp:label id="lblControl" runat="server">Control</asp:label>
														</th>
													</tr>
													<tr>
														<td>
															<table class="fields" id="tbCriteria" cellspacing="0" cellpadding="0">
																<tr>
																	<td>
																		<asp:label id="blCompanyRegno" runat="server">Company Reg. no.</asp:label>
																		<br>
																		<asp:textbox id="tbCompanyRegNo" runat="server"></asp:textbox>
																		<asp:requiredfieldvalidator id="rfvCIID" runat="server" errormessage="Value missing!" controltovalidate="tbCompanyRegNo">*</asp:requiredfieldvalidator>
																	</td>
																	<td>
																		<asp:label id="lblFiscalYear" runat="server">Fiscal year</asp:label>
																		<br>
																		<asp:textbox id="tbFiscalYear" runat="server"></asp:textbox>
																		<asp:requiredfieldvalidator id="rfvFisicalYear" runat="server" errormessage="Value missing" controltovalidate="tbFiscalYear">*</asp:requiredfieldvalidator>
																	</td>
																	<td>
																		<asp:label id="lblAccountPeriod" runat="server">Account period</asp:label>
																		<br>
																		<asp:dropdownlist id="ddAccountPeriod" runat="server" width="80px">
																			<asp:listitem value="12" selected="True">12</asp:listitem>
																			<asp:listitem value="9">9</asp:listitem>
																			<asp:listitem value="6">6</asp:listitem>
																			<asp:listitem value="3">3</asp:listitem>
																		</asp:dropdownlist>
																	</td>
																</tr>
																<tr>
																	<td height="23"></td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
												<!-- END // GRID TABLE WITHOUT STEPS // END -->
											</td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td>
												<!-- BEGIN // EMPTY TABLE FOR ERROR TEXTS AND BUTTONS // BEGIN -->
												<table class="empty_table" cellspacing="0">
													<tr>
														<td align="left">
															<asp:label id="lblErrMsg" runat="server" cssclass="error_text" visible="False">Label</asp:label>
															<asp:validationsummary id="ValidationSummary1" runat="server" width="184px"></asp:validationsummary>
														</td>
														<td align="right">
															<asp:button id="btnCancel" runat="server" cssclass="cancel_button" text="Cancel"></asp:button>
															<asp:button id="btnDelete" runat="server" cssclass="gray_button" text="Delete"></asp:button>
															<asp:button id="btnRegisterChange" runat="server" cssclass="confirm_button" text="Register/Change"></asp:button>
														</td>
													</tr>
												</table>
												<!-- END // EMPTY TABLE FOR ERROR TEXTS AND BUTTONS // END -->
											</td>
										</tr>
									</table>

									<!-- Main Body Ends -->
								</td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td colspan="3" align="center" height="1" bgcolor="#000000"></td>
							</tr>
						</table>
					</td>
					<td width="2"></td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						<uc1:footer id="Footer1" runat="server"></uc1:footer>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
