<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Countries.ascx.cs" Inherits="CPI.user_controls.Countries" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>



<P>&nbsp;&nbsp;&nbsp;&nbsp; <asp:checkbox id=CheckBox1 runat="server" Text='<%# DataBinder.Eval(((DataGridItem)Container).DataItem, "NameNative") %>' Font-Size="Smaller"></asp:checkbox><asp:Label id=lblValue runat="server" Text='<%# DataBinder.Eval(((DataGridItem)Container).DataItem, "CountryID") %>' Visible="False"></asp:Label></P>
