<%@ Control Language="c#" AutoEventWireup="false" Codebehind="FoHead.ascx.cs" Inherits="CreditInfoGroup.new_user_controls.FoHead" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<!-- HAUS -->
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td colspan="3"><img src="<%=Application.Get("AppPath")%>/img/mt_cis_logo_640_80_n.png"></td>
	</tr>
</table>
<!-- HAUS ENDAR -->