<%@ Control Language="c#" AutoEventWireup="false" Codebehind="FoOptions.ascx.cs" Inherits="CreditInfoGroup.new_user_controls.FoOptions" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<div class="head_foot">
	<asp:linkbutton id="lbtnPrint" runat="server" visible="False" causesvalidation="False">Print</asp:linkbutton>
	&nbsp;&nbsp;<asp:linkbutton id="lbtnHelp" runat="server" visible="False" causesvalidation="False">Help</asp:linkbutton>
	&nbsp;&nbsp;<asp:linkbutton id="lbtnLogout" runat="server" causesvalidation="False">Logout</asp:linkbutton>
</div>
