<%@ Control Language="c#" AutoEventWireup="false" Codebehind="head.ascx.cs" Inherits="CreditInfoGroup.new_user_controls.head" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<!-- HAUS -->
<table width="996" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td colspan="3" height="88" background="<%=Application.Get("AppPath")%>/img/head.gif">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src='<%=Application.Get("AppPath")%>/img/creditinfoschufa_logo_4web.jpg' width="206px" height="46px" alt="">
		</td>
	</tr>
</table>
<!-- HAUS ENDAR -->
