<%@ Register TagPrefix="estream" Namespace="eStreamBG.WebControls" Assembly="eStreamBG.WebControls.PanelBar" %>
<%@ Control Language="c#" AutoEventWireup="false" Codebehind="language.ascx.cs" Inherits="CreditInfoGroup.new_user_controls.language" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<div>
	<asp:imagebutton id="imbtEN" runat="server" imageurl="" height="15px" causesvalidation="False" imagealign="Middle" width="22px"></asp:imagebutton>
	&nbsp;
	<asp:imagebutton id="imgbtIS" runat="server" imageurl="" height="15px" causesvalidation="False" imagealign="Middle" width="22px"></asp:imagebutton>
</div>
