<%@ Control Language="c#" AutoEventWireup="false" Codebehind="options.ascx.cs" Inherits="CreditInfoGroup.new_user_controls.options" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<div class="head_foot">
	<asp:linkbutton id="lbtnPrint" runat="server">Print</asp:linkbutton>
	&nbsp;&nbsp;<asp:linkbutton id="lbtnHelp" runat="server">Help</asp:linkbutton>
	&nbsp;&nbsp;<asp:linkbutton id="lbtnLogout" runat="server">Logout</asp:linkbutton>
</div>