<%@ Control Language="c#" AutoEventWireup="false" Codebehind="UserInfo.ascx.cs" Inherits="CreditInfoGroup.new_user_controls.UserInfo" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<div class="breadcrumbs"><asp:label id="lblUserInfo" runat="server"></asp:label></div>
