<%@ Page language="c#" Codebehind="SamplePage.aspx.cs" AutoEventWireup="false" Inherits="CPI.SamplePage" %>
	
    <form id="Form1" method="post" runat="server">&nbsp;
<asp:TextBox id=TextBox1 runat="server"></asp:TextBox>
<asp:Button id=Button1 runat="server" Text="Button"></asp:Button>
     </form>
