<%@ Control Language="c#" AutoEventWireup="false" Codebehind="TestFooter.ascx.cs" Inherits="CPI.TestFooter" %>

</DIV>
</TD>
</TR>
</TABLE>
<H5 align='center'>Insert Your Page Footer Here</H5>
</BODY>
</HTML>


