<%@ Control Language="c#" AutoEventWireup="false" Codebehind="TestHeader.ascx.cs" Inherits="CPI.TestHeader"%>
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<HTML>
<HEAD>
<TITLE><%= Page.PageTitle %></TITLE>
<LINK rel='stylesheet' type='text/css' href='StyleSheet.css' />
<META name='Description' content='Sample HTML Page Template' />
</HEAD>
<BODY>
<H1 align='center'>Insert Your Page Header Here</H1>
<TABLE border='0' width='100%' cellspacing='0' cellpadding='0'>
<TR valign='top'>
<TD width='100'>Insert Your Page Sidebar Here</TD>
<TD width='25'>&nbsp;</TD>
<TD width='0'>
<H3 align='center'><%= Page.PageTitle %></H3>
<DIV align='center'>

