<%@ Control Language="c#" AutoEventWireup="false" Codebehind="AgreementGroundCtrl.ascx.cs" Inherits="Billing.user_controls.Business_Ctrls.AgreementGroundCtrl" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
