<%@ Control Language="c#" AutoEventWireup="false" Codebehind="GroundCtrl.ascx.cs" Inherits="Billing.user_controls.Business_Ctrls.GroundCtrl" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
