﻿BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Arial,sans-serif; BACKGROUND: #eae9e1; FONT-SIZE: 80%; PADDING-TOP: 0px
}
#CrossBorderMainPage {
	
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-LEFT: 0px;/* WIDTH: 970px;*/ PADDING-RIGHT: 0px; BACKGROUND: #fff; PADDING-TOP: 0px

}
#CrossBorderPage {
	MARGIN:  0px 15px 15px; /*WIDTH: 940px; */BACKGROUND: #fff
}
DIV#CrossBorderHeader {
	HEIGHT: 90px
}

#footer {
	PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #f0efe8; HEIGHT: 50px; COLOR: #676767; CLEAR: both; FONT-SIZE: 10px; PADDING-TOP: 0px
}
#footer TABLE TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; HEIGHT: 8px; PADDING-TOP: 0px
}

#footer .fR {
	MARGIN-TOP: 7px
}
#footer .fL {
	MARGIN-TOP: 18px
}

.fR
{
	float:right;
}

.fL
{
	float:left;
}

#CrossBorderHeadLineBox {
	BORDER-BOTTOM: #d7d7d6 0px solid; PADDING-BOTTOM: 18px; MARGIN: 10px 0px 5px; BACKGROUND: #fff; CLEAR: both
}
#CrossBorderHeadLineBox SPAN {
	COLOR: #676767; FONT-SIZE: 90%
}
#CrossBorderHeadLineBox SPAN A {
	COLOR: #676767
}
H1 {
	MARGIN: 0px 0px 4px; COLOR: #ef3825; FONT-SIZE: 240%; FONT-WEIGHT: normal
}

.CrossBorderContent
{
	
}

.CrossBorderContent .CrossBorderGrid
{
	width:100%;
	text-align:left;
	margin-top: 20px;
	margin-bottom:20px;
	border-collapse:collapse;
}

.CrossBorderRow td
{
	border-bottom-color:Silver;
  	border-bottom-style:solid;
  	border-bottom-width:1px;
  	border-left-color:Silver;
  	border-left-style:solid;
  	border-left-width:1px;
  	text-align:center;
}

.CrossBorderMarkRow td
{
	border-bottom-color:Silver;
  	border-bottom-style:solid;
  	border-bottom-width:1px;
  	border-left-color:Silver;
  	border-left-style:solid;
  	border-left-width:1px;
  	
	background-color:AliceBlue;
	text-align:center;
}


.CrossBorderContent .CrossBorderGrid th
{
	background-color:#e0e6e6;
	color:Black;
	text-align: justify; 
	text-indent: 5px;
	text-align:center;
	
}

.CrossBorderMenuContainer
{
	text-align:left;
	width:100%;
	background: url('<%=WebResource("cb3.CrossBorder.img.head-background.png")%>'); 
	background-repeat: repeat-x; text-align: left; 
	position: inherit; 
}

.CrossBorderOndemandRequestButton
{
	src:url('<%=WebResource("cb3.CrossBorder.img.add-OnDemand-16x16.png")%>')
}

.CrossBorderMenuContainer .CrossBorderMenuButton
{
	background-color:Transparent;
	border-color:Transparent;
	border-width:0px;
	text-decoration:bold;
	
	cursor:hand;
}

.CrossBorderMenuContainer .CrossBorderMenuExportButton
{
	background-color:Transparent;
	border-color:Transparent;
	border-width:0px;
	text-decoration:bold;
	font-size:10px;
	width:50px;
	cursor:hand;
}

.CrossBorderSerachBoxContainer
{	
	float: left;
 	width:50%;
 	MARGIN: 15px 10px
}

.CrossBorderContent .CrossBorderSerachBoxContainer .CrossBorderSearchBox
{
	width:100%;
	text-align:left;
	
}

.CrossBorderContent .CrossBorderMenuContainer
{
	background-color:Transparent;
    text-align: justify; 
	text-indent: 5px;
}
        
.CrossBorderContent .CrossBorderMenuContainer a
{
	MARGIN: 0px 15px 15px; WIDTH: 100%; BACKGROUND: #fff;
	cursor:pointer;
}

.line
{
	border-top: #d7d7d6 1px solid;
}

.mt
{
	margin-top:20px;
}

.CrossBorderInput {
	BORDER-BOTTOM: 1px solid; 
	BORDER-LEFT: 1px solid; 
	WIDTH: 90%; 
	FONT-FAMILY: tahoma, sans-serif; 
	MAX-WIDTH: 500px; 
	FONT-SIZE: 12px; 
	BORDER-TOP: 1px solid; 
	BORDER-RIGHT: 1px solid;

	
}

.CrossBorderSearchButton
{
	background-color:Transparent;
	width:120px;
	height:25px;
	color:White;
	font-weight:900
}

#Container 
{
  height:99%;
  min-height:99%;
  width:99%;
}


.CrossBorderSlectedCommand
{
	line-height:2em;
	top: 50%;
	float: left; 
	vertical-align : middle; 
	display : table-cell; 
	background: url('<%=WebResource("cb3.CrossBorder.img.selectedCommand.png")%>'); 
	width: 88px; height: 25px; 
	font-family: Verdana; font-size: small; 
	font-weight: bold; font-style: normal; color: #FFFFFF; 
	text-align: center; background-repeat: no-repeat;
	
}

.CrossBorderCommand
{
	line-height:2em;float: left; width: 88px; height: 25px;
	height: 25px; font-family: Verdana; font-size: small; font-style: normal; 
	color:Black; vertical-align: top; text-align: center; vertical-align:middle; display:table-cell;
	margin:2px;
}

.CrossBorderSlectedCommand input
{
	color: #FFFFFF; 
	font-family: Verdana; font-size: small; font-weight: bold; font-style: normal; 
}


.hoverRow { background-color:Blue; }
.clickedRow { background-color:Gray; }