﻿BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Arial,sans-serif; BACKGROUND: #eae9e1; FONT-SIZE: 80%; PADDING-TOP: 0px
}
#CrossBorderMainPage {
	
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-LEFT: 0px;/* WIDTH: 970px;*/ PADDING-RIGHT: 0px; BACKGROUND: #fff; PADDING-TOP: 0px

}
DIV#CrossBorderHeader {
	HEIGHT: 90px
}


#footer TABLE TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; HEIGHT: 8px; PADDING-TOP: 0px
}


#CrossBorderHeadLineBox {
	BORDER-BOTTOM: #d7d7d6 0px solid; PADDING-BOTTOM: 18px; MARGIN: 10px 0px 5px; BACKGROUND: #fff; CLEAR: both
}
#CrossBorderHeadLineBox SPAN {
	COLOR: #676767; FONT-SIZE: 90%
}
#CrossBorderHeadLineBox SPAN A {
	COLOR: #676767
}
H1 {
	MARGIN: 0px 0px 4px; COLOR: #ef3825; FONT-SIZE: 240%; FONT-WEIGHT: normal
}

.CrossBorderContent
{
	
}

.CrossBorderContent .CrossBorderGrid
{
	width:100%;
	text-align:left;
	margin-top: 20px;
	margin-bottom:20px;
	border-collapse:collapse;
}

.CrossBorderRow td
{
	border-bottom-color:Silver;
  	border-bottom-style:solid;
  	border-bottom-width:1px;
  	border-left-color:Silver;
  	border-left-style:solid;
  	border-left-width:1px;
  	text-align:center;
}

.CrossBorderMarkRow td
{
	border-bottom-color:Silver;
  	border-bottom-style:solid;
  	border-bottom-width:1px;
  	border-left-color:Silver;
  	border-left-style:solid;
  	border-left-width:1px;
  	
	background-color:AliceBlue;
	text-align:center;
}


.CrossBorderContent .CrossBorderGrid th
{
	background-color:#e0e6e6;
	color:Black;
	text-align: justify; 
	text-indent: 5px;
	text-align:center;
	
}

 .CrossBorderGridHeader
 {
 	font-family: Verdana; font-size: 11px; font-weight: bold; font-style: normal; 
 	background-color:#e0e6e6;
 }
 
.CrossBorderMenuContainer
{
	text-align:left;
	width:100%;
	background: url('<%=WebResource("CrossBorder.img.head-background.png")%>'); 
	background-repeat: repeat-x; text-align: left; 
	position: inherit; 
	height:25px;
}

.CrossBorderOndemandRequestButton
{
	src:url('<%=WebResource("CrossBorder.img.newOnDemand.png")%>')
}

.CrossBorderMenuContainer .CrossBorderMenuButton
{
	background-color:Transparent;
	border-color:Transparent;
	border-width:0px;
	text-decoration:bold;
	font-family: Verdana; font-size: 11px; 
	font-style: normal; 
	height:20px;
	cursor:hand;
}

.CrossBorderMenuContainer .CrossBorderMenuExportButton
{
	background-color:Transparent;
	border-color:Transparent;
	border-width:0px;
	text-decoration:bold;
	font-size:10px;
	width:50px;
	cursor:hand;
}

.CrossBorderSerachBoxContainer
{	
	float: left;
 	width:50%;
 	MARGIN: 15px 10px
}

.CrossBorderContent .CrossBorderSerachBoxContainer .CrossBorderSearchBox
{
	width:100%;
	text-align:left;
	
}

.CrossBorderContent .CrossBorderMenuContainer
{
	background-color:Transparent;
    text-align: justify; 
	text-indent: 5px;
}
        
.CrossBorderContent .CrossBorderMenuContainer a
{
	MARGIN: 0px 15px 15px; WIDTH: 100%; BACKGROUND: #fff;
	cursor:pointer;
}


.CrossBorderInput {
	BORDER-BOTTOM: 1px solid; 
	BORDER-LEFT: 1px solid; 
	WIDTH: 90%; 
	FONT-FAMILY: tahoma, sans-serif; 
	MAX-WIDTH: 500px; 
	FONT-SIZE: 12px; 
	BORDER-TOP: 1px solid; 
	BORDER-RIGHT: 1px solid;

	
}

.CrossBorderSearchButton
{
	background-color:Transparent;
	width:120px;
	height:25px;
	color:White;
	font-weight:900
}

#Container 
{
  height:99%;
  min-height:99%;
  width:99%;
}


.CrossBorderSlectedCommand
{
	line-height:2em;
	top: 50%;
	float: left; 
	vertical-align : middle; 
	display : table-cell; 
	background: url('<%=WebResource("CrossBorder.img.selectedCommand.png")%>'); 
	width: 88px; height: 25px; 
	font-family: Verdana; font-size: small; 
	font-weight: bold; font-style: normal; color: #FFFFFF; 
	text-align: center; background-repeat: no-repeat;
	
}

.CrossBorderCommand
{
	line-height:2em;float: left; width: 88px; height: 25px;
	height: 25px; font-family: Verdana; font-size: 11px; font-style: normal; 
	color:Black; vertical-align: top; text-align: center; vertical-align:middle; display:table-cell;
	margin:2px;
}

.CrossBorderSlectedCommand input
{
	color: #FFFFFF; 
	font-family: Verdana; font-size: 11px; font-weight: bold; font-style: normal; 
}


 
 .CrossBorderRefreshButton
 {
 	background-color:Transparent;
 	float:right; margin: 4px;
 }
 
.hoverRow { background-color:Blue; }
.clickedRow { background-color:Gray; }



 .CrossBorderOnDemandRequestButton
 {
 	background-color:#617AAC;
 	border-color:#617AAC;
 	border-style:solid;
 	color: #FFFFFF; 
	font-family: Verdana; font-size: 11px; font-weight: bold; font-style: normal; 
	cursor:hand;
 }

.PopupPanel
{
/*	border: solid 1px black;
	position: absolute;
	background-color: white;
	z-index: 100;
	
	height: 230px;
	margin-top: -100px;
	
	width: 400px;
	margin-left: -200px;*/
		font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: white;
	position:fixed;
	/* set z-index higher than possible */
	z-index:10000;
	visibility: hidden;
	 color: Black;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
    width: 420px;
    height :auto;
}
 
div.MaskedDiv 
{
	visibility: hidden;
	position:fixed;
	left:0px;
	top:0px;
	padding:40px;
    z-index:100;
	background-image:url('<%=WebResource("CrossBorder.img.Mask.png")%>');
	width:100%;
	height:100%;
}

.PopupPanelTable
{
	width: 420px;
	border-collapse:collapse;
}


/*
div#reportWrap {margin-top:35px;background:#fff; padding:1px 0; border:1px solid rgb(240,240,240)}
table.tableReport {margin:5px;border:none; font-size:12px}
table.tableReport table {margin:inherit; border: inherit}


div.tabpaneltabmenu {margin:20px 10px 0 10px;background:#fff}
div.tabpaneltabmenu a 
{
	display:block; float:left; 
    margin:0 10px 0 0; 
    text-align:center; 
    height:23px;width:172px; 
    background: url('<%=WebResource("CrossBorder.img.btn170.gif")%>') no-repeat;
    text-decoration:none; color:#272727; 
    text-transform:uppercase; font-family: Arial,Sans-Serif; 
    font-weight:bold; font-size:12px; padding-top:5px; 
}
div.tabpaneltabmenu a:hover {color:#000;text-decoration:underline}

div.tab {clear:both}*/



#Error {
  top: 0px;
  right: 0px;
  width: 30%;
  background-color: #f4570b;
  border: solid 1px Black;
  padding: 5px;
  font-family: Sans-Serif;
  font-size: 10pt;
  margin: 5px;
}






td {
padding: 0px;

}


div.tabpaneltabmenu
{
background:#AC1633;
border-bottom: thick 2px inset #58725c;
border-top: thick 2px outset #ac1633;

padding-top : 4px;

position: relative;
width: 100%;
clear: both;
overflow: hidden;
background: url('<%=WebResource("CrossBorder.img.menu-background.png")%>');

}


div.tabpaneltabmenu *
{
margin: 0px;
padding :0px;
}

div.tabpaneltabmenu .rtsULreport
{
float: left;
overflow: hidden;
	position: relative;
	top: -4px;
}

div.tabpaneltabmenu .rtsULreport:after
{

display: block;
height: 0px;
visibility: hidden;
clear: both;
content: ".";
}

div.tabpaneltabmenu .rtsLIreport
{
color: #ffffff;
list-style-type: none;
float: left;
overflow: hidden;
margin-left: 5px;
} 

div.tabpaneltabmenu .rtsLinkReport
{
color: #ffffff;
text-decoration: none;
padding-left: 10px;
outline-style: none;
display: block;
cursor: pointer;
}

div.tabpaneltabmenu .rtsSelectedReport 
{
    background-image: url('<%=WebResource("CrossBorder.img.menu-selected-left.png")%>');
    
Background-repeat: no-repeat;
background-position: 0% 0%;
}

div.tabpaneltabmenu .rtsSelectedReport .rtsOutReport 
{
    background-image: url('<%=WebResource("CrossBorder.img.menu-selected-right.png")%>');
    
    
	background-repeat: no-repeat;
	background-position: 100% 0%
}

div.tabpaneltabmenu .rtsOutReport
{
	text-align: center;
	padding-right: 10px;
	display: block;
}

div.tabpaneltabmenu .rtsInReport
{

	font: 12px/24px "segoe ui",arial,sans-serif;
	line-height: 24px;
	display: block;

}

div.tabpaneltabmenu .rtsTxtReport
{
	vertical-align: top;
	display: inline-block;
}




div.tabpanelmultiPage {
	background-color: #f0efe8;
	padding :0px;
	margin: 0px;
	position: relative;
	width: 100%;
	clear: both;
	overflow: hidden;
}

div.tabpanelmultiPage .tab {
 background-color: #f0efe8;
 width: 100%;
 margin:0 auto; 
}

div.tab .tabcontent {
border-left: 2px outset #58725c;
border-right: 2px inset #58725c;
border-bottom: 2px inset #58725c;
 background-color: #ffffff;
 margin:0 auto; 
 padding-bottom: 10px;
}

div.tab table.tableReport
{
	width:96%;
	margin:0 auto; 
}

table.tableReport 
{
 background-color: #f0efe8;
 margin:0 auto; 
}

div.tabpanel {
margin: 0 auto; 
text-align:center;
background-color: #f0efe8;
border-collapse: separate !important
}


div#reportWrap 
{
	text-align: center;
	width: 100%;	
	margin-top:30px;
	background:#fff; /*#f0efe8;*/
	padding:1px 0; 
	border:1px solid rgb(240,240,240);
	border-bottom:5px solid rgb(240,240,240);
	margin-bottom: 10px; 
}
/*table.tableReport {margin:5px;border:none; font-size:12px}
table.tableReport table {margin:inherit; border: inherit} */
/*td.styleClass6, td.styleClass13{height:16px; background-position:0 3px; padding-top:5px}
td.styleClass5 {padding-top:20px}*/

div.tab {clear:both}
div.wrapContent { width: 100%; white-space:normal; }
